@import "../../App";
.about-wrapper {
  margin-top: 6rem;
  display: flex;
&:hover{
 /*  .wrapper-block{
    animation-play-state: running;
  } */
}
  flex-direction: column;

  .about-item {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      justify-content: space-between;
    }

    .text-item {
      overflow-wrap: break-word;
      text-align: justify;
      @media (max-width:1200px) {
        margin-top: 30px;
      }
      .text-item-description {
        font-family: 'Roboto Slab';
        font-weight: 400;
        text-align: justify;
        @media (max-width:1200px) {
          
          word-break: break-all;

        }
      }

      @include lg {
        width: 45%;
        text-align: left;
      }

      .span-br {
        display: block;

        @include lg {
          margin-top: 1.5rem;
        }
      }
    }
    
    .info-block-item {
      flex-wrap: wrap;
      gap: 1.7rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;

      .block-item {
        align-items: center;
        
        * {
          width: fit-content;
        }

        @include lg {
          align-items: auto;

          * {
            width: initial;
          }
        }
      }

      @include lg {
        justify-content: flex-end;
      }
    }
  }
}
