.themeInput {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
}
