@import "../../App";
.wrapper-price-calculating {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;

  .span-title {
    display: table;
    margin: 0 auto;
    text-align: center;

    @include lg {
      display: initial;
      margin: inherit;
      text-align: start;
    }
  }
}
