@import '../../App.scss';
.list-blog{
    margin-top: 40px;
    @media screen and (max-width: $screen-sm-min) {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

.list-blog {
  &:hover{

  }
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Відстань між блогами */
    a{
        color: unset;
        text-decoration: none;
    }
  }
  
  .blog {
    width: 100%; /* Забезпечити, що блоги розтягуються на всю ширину контейнера .list-blog */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для кожного блогу */
    border-radius: 8px; /* Округлені кути для блогу */
    overflow: hidden; /* Запобігає витіканню тіні за межі блогу */
    @media (min-width: 425px) {
        width: 50%; /* Якщо ширина екрану 425px або більше, покажіть два блоги одночасно */
      }
    
      @media (min-width: 768px) {
        width: 33.33%; /* Якщо ширина екрану 768px або більше, покажіть три блоги одночасно */
      }
  }
  
  .img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; /* Округлені кути тільки 
    overflow: hidden; /* Запобігає витіканню тіні за межі блогу */
    
  }
  
  .text {
    padding: 16px; /* Відступи всередині блогу */
  }
  
  .title {
    margin-bottom: 8px; /* Відстань між заголовком та описом */
  }
  
  h1 {
    font-size: 1.5rem; /* Розмір шрифту для заголовку */
    margin: 0; /* Зняти зовнішні відступи */
  }
  
  .description {
    font-size: 1rem; /* Розмір шрифту для опису */
    color: #555; /* Колір тексту опису */
  }
  .title-article{
    display: flex;
    justify-content: center;
  }
  