@import "../../App";
.offers {
  margin-top: 6rem;

  .offers-item {
    margin: 1rem 0 0;
  }

  .navigate-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    @include lg {
display: block;
    }
  }
}
