// BREAKPOINTS

$screen-sm-min: 576px;
$screen-lg-min: 992px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
/*
 @font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-HeavyItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CASlalomExtended';
  src: url('assets/fonts/CASlalomExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/*// Указываем box sizing*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*// Убираем внутренние отступы*/
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

/*// Убираем внешние отступы*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

.root {
  padding: 0 2rem;

  @include lg {
    padding: 0 4rem;
  }
}

:root {
  --font-sans: 'Open Sans', sans-serif;
  --font-jost: 'Jost', sans-serif;

  --white: #f3f3f3;
  --black: #181818;
  --grey: #262626;
  --dull-grey: #494949;
  --purple: linear-gradient(321.6deg, #9795f0 3.29%, #fbc8d4 101.27%);
  --light-grey: #e7e7e7;
  --violet: #6b69e7;
  --yellow: #ffb930;
  --red: #f43e49;
}

/*//Выставляем основные настройки по-умолчанию для body*/
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url('./assets/background.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  font-family: var(--font-sans);
  background: linear-gradient(to bottom, #A7BED7, #A697E0, #9372E9, #6B69E7);
  scrollbar-color: #B3BAEE #ffffff; /* Фіолетовий колір ползунку і фону */
}

body::-webkit-scrollbar {
  width: 0; /* Фіолетовий колір ползунку */
  visibility: 0;
}
html {
  scroll-behavior: auto;
  scrollbar-color: #B3BAEE #ffffff; /* Фіолетовий колір ползунку і фону */
}
html::-webkit-scrollbar-thumb {
  background-color:#B3BAEE; /* Фіолетовий колір ползунку */
}
.MuiAutocomplete-option  {
  background-color: #B3BAEE !important;
}
@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-up {
  animation: scroll-up 0.5s ease-in-out;
}

.scroll-down {
  animation: scroll-down 0.5s ease-in-out;
}
/* .App { */
/* margin-left: 12px; */
/* } */

#overlay-root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.span-article {
  font-size: 42px;
  line-height: 42px;
  font-family: 'CASlalomExtended', sans-serif;
  font-style: normal;
  font-weight: 700;

  @include lg{
    font-size: 64px;
    line-height: 88px;
  }

}
@media (max-width:350px) {
  .span-article {
    font-size: 36px;}
}
.span-sub-article {
  font-size: 32px;
  font-family: 'CASlalomExtended', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width:425px) {
  .max-425px{
    display: none;
  }
}
.MuiAutocomplete-popper{
  background-color: #6B69E7;
}