.wrapper-page404 {
  margin: 100px 0px;
  @media (max-width: 768px) {
    margin: 50px 0px;
  }
  h1 {
    white-space: pre-wrap;
    font-family: "Abhaya Libre SemiBold", sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 112%;
    text-align: justify;
    color: #000;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .description {
    white-space: pre-wrap;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #494949;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .list-pages {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 10px;
      width: 250px;
      background: #6b69e7;
  border-radius: 0px;
  margin-left: 0px;

      @media (max-width: 728px) {
        width: 200px;

        font-size: 14px;
      }
    }
  }
}
