@import '../../App';

.OrderAdvance-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    &:hover {
      .order-item-span p {
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.61);

      }
    }
  }

  .order-items {
    margin-top: 2rem;

    @include lg {
      width: 50%;
    }

    .order-item-span p {
      text-align: justify;
      margin-bottom: 1.5rem;
      color: black;
      font-family: 'Noto Serif Display';
      font-weight: 600;
      transition-duration: .3s;
      @include lg {
        font-size: 24px;
   
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;

    @include lg {
      justify-content: end;
    }
  }
}
