@import "../../App";
@keyframes scale {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.reviewsCard-wrapper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;

  @include lg {
    justify-content: space-between;
    flex-direction: row;
  }

  .reviewsCard-right {
    @include lg {
      width: 50%;
    }

    .map-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include lg {
        animation-play-state: paused;
        animation-name: scale;
        animation-duration: .3s;
        animation-fill-mode: backwards;
      }
   

      gap: 1.7rem;
      width: 100%;
    }
    .button-wrapper {
      display: flex;
      margin-top: 2rem;
      justify-content: center;

      @include lg {
        justify-content: flex-end;
      }
    }
  }
  
}
