.tags-input-wrapper {
  display: flex;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 0.5rem;
}

.no-tags {
  flex-grow: 1;
}

.tags-input-title {
  margin-bottom: 1rem;
}
