@import "../../../../App";
.pagination {
  display: flex;
  justify-content: center;
/*  */
}

.reviews-title {
  padding-top: 4.68rem;
}

.reviews-typeofwork-select {
  padding: 3rem 0;

  @include lg {
    width: 300px;
  }
}
